/.idea/*
*node_modules*
/packages/core/dist/*
/packages/renderer-react/dist/*
/packages/renderer-component-library-react/dist/*
/examples/kitchen-sink/dist/*
/packages/validator-jsonschema/dist/*
/examples/kitchen-sink/cypress/videos/*
/packages/recoil-state-provider/dist/*
